<canvas (contextmenu)="onRightClick($event)" width="600" height="600" style="border: 1px solid #cccccc;" id='fabricCanvas'></canvas>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="onRightClick($event)">Action 1</button>
		<button mat-menu-item (click)="onRightClick($event)">Action 2</button>
	</ng-template>
</mat-menu>
